:root {
  --color-principal: #a2ba58;
  --color-secundario: #dfe385;
  --color-aux-1: #ce8342;
  --color-aux-2: #35240d;
  --color-nutr-facts: #292b33;
  --color-n: #;
  --color-m: #;
}

@font-face {
  font-family: "Roboto";
  src: url("../resources/fonts/static/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}

a {
  text-decoration: none;
}
