/*General*/

body {
  font-family: "Roboto";
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

/*Main Adjustments*/

main {
  position: relative;
  background-color: #adf1c4;
  width: 25rem;
  height: 30rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

h2 {
  position: absolute;
  top: 2rem;
  font-size: 2.2rem;
}

.guest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.guest-btn span {
  font-size: 1rem;
}

.guest-btn:hover {
  background-color: #024d9d;
}
